@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

.card-style {
  width: 100%;
  max-width: 18rem;
}

.text-description {
  padding-bottom: 1em;
}

.text-cuppon-green {
  color: #28a745;
}

.bg-cuppon-green {
  background: #28a745;
}

.footer {
  padding: 3em;
}
